*.suo
*.exe
*.ilk
*.tlog
*.pdb
*.obj
*.idb
*.db
*.pdb
*.log
*.opendb
input.txt
output.txt
*.iobj
*.ipdb
*.enc
*.ipch
*.user
*.db-shm
*.db-wal
/codeforces/*/*.filters
/codeforces/*/*.vcxproj
/codeforces/*.sln
/contester.tsure.ru/*/*.filters
/contester.tsure.ru/*/*.vcxproj
/contester.tsure.ru/*.sln
/cses.fi/*/*.filters
/cses.fi/*/*.vcxproj
/cses.fi/*.sln
/shen/2. Порождение комбинаторных объектов/2.1. Размещение с повторениями/2.1.Размещения с повторениями.filters
/shen/2. Порождение комбинаторных объектов/2.1. Размещение с повторениями/2.1.Размещения с повторениями.vcxproj
/shen/*.sln
